################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/test/obj/Debug
/test/bin
/packages
/.vs
/test/test.csproj.user
